/* src/index.css */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.cursive {
  font-family: "Pacifico", cursive;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  @apply no-underline;
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Para Chrome, Safari y Opera */
}

.no-scrollbar {
  -ms-overflow-style: none;  /* Para IE y Edge */
  scrollbar-width: none;  /* Para Firefox */
}

.scroll-on-hover::-webkit-scrollbar {
  width: 6px;
}

.scroll-on-hover::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-on-hover::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 3px;
  transition: background 0.3s ease;
}

.scroll-on-hover:hover::-webkit-scrollbar-thumb {
  background: rgba(156, 163, 175, 0.5);
}

.scroll-on-hover::-webkit-scrollbar-thumb:hover {
  background: rgba(156, 163, 175, 0.8);
}